/* common shared style */
body{
      
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
}
.web-title{
      font-size: 50px;
      margin-left: 90px;
}
/* nav related style */
nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 150px;
      padding-left: 60px ;
}
nav ul{
      display: flex;
      /* margin-left: 750px; */
     

}
nav li{
      list-style: none;
      margin-left: 50px;
    
      

}
nav a{
      text-decoration: none;

}
.color_of_r{
      color: coral;
}
.primary_color{
      color: rgb(255, 241, 241);
    background-color: rgb(205, 85, 41);
    border-radius: 9px;
    font-size: 20px;
    padding: 7px 15px;
    border: 0px solid ;
    
}
/* header related style */
.header{
      background-color: rgb(245, 215, 215);
      background-image: url(/images/header_bg.png);
      background-repeat: no-repeat;
      background-position: bottom right;
  
     
      padding-top: 50px;
      align-items: center;
  
}
.profile{
      height: 700px;
      padding-right: 60px;
}
.bannner{
      display:flex ;
      padding: 30px 30px 0px 150px;
}
.text2{
   align-items: center;
   padding-top: 80px;
}
#hi{
      font-size: 30px;
}
#mark_curry{
      font-size: 45px;
}
#paragraph{
      font-size: 20px;
      margin-bottom: 60px;
}
.name_color{
      color: orangered;
}
/* main  section style */

.about{
      align-items: center;
      background-color: rgb(245, 215, 215);
      margin:120px 40px;
      padding: 100px;
}
.section_title{
      text-align: center;
      font-size: 30px;
}
#paragraph2{
      font-size: 20px;
      color: rgb(135, 133, 129);
}
.about_container{
      display: flex;
      justify-content:space-between;
     
      
     
}
.justify_text{
      text-align: center;
}
.what_I_DO{
      text-align: center;
      padding:30px 150px;
      
}
.what{
      font-size: 30px;
}
.para3{
      font-size: 20px;
}
.skills{
      display: flex;
      background-color: antiquewhite;
      
}