/* common shared style */
body{
      
font-family: 'Lora', serif;
font-family: 'Poppins', sans-serif;
}
.web-title{
      font-size: 50px;
      margin-left: 90px;
}
/* nav related style */
nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 90px;
      padding-left: 60px ;
}
nav ul{
      display: flex;
      /* margin-left: 750px; */
}
nav li{
      list-style: none;
      margin-left: 50px;
      

}
nav a{
      text-decoration: none;

}
.color_of_r{
      color: coral;
}
.primary_color{
      color: rgb(255, 241, 241);
    background-color: rgb(205, 85, 41);
    border-radius: 9px;
    font-size: 20px;
    padding: 7px 15px;
    border: 0px solid ;
    
}
/* header related style */
.header{
      background-color: rgb(245, 215, 215);
      align-items: center;
  
}
.bannner{
      display:flex ;
      padding: 30px 30px 30px 150px;
}
